<!-- Page content -->
<div style="margin-left: 116px; margin-right: 116px; margin-top: 70px;">
  <!-- Table -->
  <div class="row" style="padding-bottom: 2%;">
    <div class="col">      
      <h1 class="mb-0" style="color: #2E294E; font-weight: bold; font-size: 30px;">Despre proiect</h1> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="font-size: 24px;font-weight: 600;color: #01A4AE;">Aici demo-ul aplicației mobile</p>
    </div>
  </div>
  <div class="row" style="text-align: left;">
    <div class="col-md-8" style="margin:0px;">
      <div id="videoEmbed" style="width: 100%; height: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;text-align: left;">
        <iframe src="/assets/img/icons/common/DemoDosarulDigital.mp4" width="100%" height="100%" style="position: absolute; top: 0; left: 0;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen ></iframe>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <p style="font-size: 24px;font-weight: 600;color: #01A4AE;">Aici demo-ul aplicației web</p>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt risus morbi viverra tortor. Luctus volutpat dapibus suspendisse platea faucibus gravida ultrices cursus justo. Risus nibh aliquam tellus ac ultricies nibh et. Morbi eu, bibendum neque, augue. Odio phasellus ante consequat etiam tempus egestas. Sapien ut hendrerit leo, facilisis orci nibh etiam nisi. Egestas sed faucibus diam, elementum semper. Ante sit iaculis nullam diam volutpat id tempor in.
  Eget risus nunc vel arcu nisl. Egestas ac mi magna in. Laoreet duis faucibus in fusce laoreet convallis. Viverra mauris integer velit elementum. Et diam amet ullamcorper mi scelerisque etiam.
  Enim id lorem lectus tristique orci dui. Nisl sed nec augue vel adipiscing id turpis nibh pulvinar. Pharetra dictumst nunc, volutpat neque. Pretium sed risus molestie sit fusce et. Justo quisque odio lacus, convallis mattis velit. Nulla enim etiam a nunc et viverra quis. Dolor, non, nec, elit, lectus tellus eu. Lorem mattis nunc facilisis nisi, sed. Mauris commodo non eget pellentesque varius tempus, pulvinar lacus. Nulla blandit quis at ullamcorper nunc eget.
  Fermentum risus tincidunt platea euismod varius. Sodales mi volutpat quam dui at egestas curabitur condimentum mollis. Cras sollicitudin mattis vestibulum maecenas fermentum. Dictumst porttitor et cras consectetur nunc. Lacus, nisl mollis sit accumsan quis. Diam enim consequat, et est rhoncus, volutpat feugiat suspendisse. Ultrices in amet pharetra urna. Sed enim, facilisi tellus aliquam. Scelerisque facilisis viverra pulvinar et, varius nunc, velit. Nunc enim diam lorem sociis erat sagittis. Sed amet amet, sapien volutpat tellus dui et adipiscing.
  Vel duis elit vivamus nisi. Tellus mi mauris ultrices dictum libero faucibus mauris nec. Ultrices tincidunt et in eget duis sed rhoncus diam massa. Phasellus ut pulvinar consectetur risus, ultrices. Nullam arcu, sagittis ipsum, et posuere ultrices.
  et.
      </p>
    </div>
  </div> -->
  <!-- <div class="row" style="display: table; height: 100%;">
    <div class="col-md-10" style="display: table-cell; text-align: right; vertical-align: middle;">      
      <p style="margin-bottom: 0px; font-size: 22px;color: #32325D;">Proiect finanțat de</p>        
    </div>
    <div class="col-md-2" align="right">      
      <a target="_blank" rel="noopener noreferrer" href="https://www.fundatia-vodafone.ro/"><img src="assets/img/brand/logo 2.png" /></a>        
    </div>
  </div> -->
  <div class="row" style="padding-top: 3%;">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 30px;font-weight: 600;">Parteneri</p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <p style="color: #525F7F; font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque faucibus faucibus nec nisl. At cras arcu mattis eu, quis odio augue lobortis. Feugiat in volutpat porta adipiscing. Ultrices volutpat vel, facilisi nibh pellentesque magna proin viverra quam.</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <p style="font-size: 24px;font-weight: 600;color: #01A4AE;">Partenerii proiectului</p>
    </div>
  </div>
  <div class="row" style="padding-top: 1.5%; padding-bottom: 4.5%;">
    <div class="col-md-3" style="display: table; height: 100%;">
      <div class="card-body shadow" style="height: 280px; width: 257;vertical-align: middle;display: table-cell;text-align: center;">
        <a target="_blank" rel="noopener noreferrer" href="https://www.fundatia-vodafone.ro/"><img src="assets/img/brand/Background 2.png" /></a>
      </div>
    </div>
    <div class="col-md-3" style="display: table; height: 100%;">
      <div class="card-body shadow" style="height: 280px; width: 257;vertical-align: middle;display: table-cell;text-align: center;">
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/fdpcluj"><img src="assets/img/brand/FDP_transparent.png"  style="height: 60px;" /></a>
      </div>
    </div>
    <!-- <div class="col-md-3" style="display: table; height: 100%;">
      <div class="card-body shadow" style="height: 280px; width: 257;vertical-align: middle;display: table-cell;text-align: center;">
        <a target="_blank" rel="noopener noreferrer" href="https://civiclabs.ro/ro"><img src="assets/img/brand/Civiclabs logo png.png" /></a>
      </div>
    </div> -->
    <div class="col-md-3" style="display: table; height: 100%;">
      <div class="card-body shadow" style="height: 280px; width: 257;vertical-align: middle;display: table-cell;text-align: center;">
        <a target="_blank" rel="noopener noreferrer" href="https://code4.ro/ro"><img src="assets/img/brand/logo Code for Romania 1.png" /></a>
      </div>
    </div>
  </div>
  <!-- <div class="row" style="padding-bottom: 6%;">
    <div class="col-md-12">
      <p style="color: #525F7F; font-size: 20px;">Enim id lorem lectus tristique orci dui. Nisl sed nec augue vel adipiscing id turpis nibh pulvinar. Pharetra dictumst nunc, volutpat neque. Pretium sed risus molestie sit fusce et. Justo quisque odio lacus, convallis mattis velit. Nulla enim etiam a nunc et viverra quis. Dolor, non, nec, elit, lectus tellus eu. Lorem mattis nunc facilisis nisi, sed. Mauris commodo non eget pellentesque varius tempus, pulvinar lacus. Nulla blandit quis at ullamcorper nunc eget.
        Fermentum risus tincidunt platea euismod varius. Sodales mi volutpat quam dui at egestas curabitur condimentum mollis. Cras sollicitudin mattis vestibulum maecenas fermentum. Dictumst porttitor et cras consectetur nunc. Lacus, nisl mollis sit accumsan quis. Diam enim consequat, et est rhoncus, volutpat feugiat suspendisse. Ultrices in amet pharetra urna. Sed enim, facilisi tellus aliquam. Scelerisque facilisis viverra pulvinar et, varius nunc, velit. Nunc enim diam lorem sociis erat sagittis. Sed amet amet, sapien volutpat tellus dui et adipiscing.
        Vel duis elit vivamus nisi. Tellus mi mauris ultrices dictum libero faucibus mauris nec. Ultrices tincidunt et in eget duis sed rhoncus diam massa. Phasellus ut pulvinar consectetur risus, ultrices. Nullam arcu, sagittis ipsum, et posuere ultrices.
         et.</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <p style="font-size: 24px;font-weight: 600;color: #01A4AE;">Partenerii care au adoptat soluția</p>
    </div>
  </div>
  <div class="row" style="padding-top: 1.5%; padding-bottom: 6%;">
    <div class="col-md-3" style="display: table; height: 100%;">
      <div class="card-body shadow" style="height: 280px; width: 257;vertical-align: middle;display: table-cell;text-align: center;">
        <a target="_blank" rel="noopener noreferrer" href="https://www.dgas.ro/"><img src="assets/img/brand/DGASMB.png" style="height: 60px;" /></a>
      </div>
    </div>
    <div class="col-md-3" style="display: table; height: 100%;">
      <div class="card-body shadow" style="height: 280px; width: 257;vertical-align: middle;display: table-cell;text-align: center;">
        <a target="_blank" rel="noopener noreferrer" href="http://dasmclujnapoca.ro"><img src="assets/img/brand/Sigla Primaria Cluj si Consiliul Local landscape.jpg" style="height: 60px;" /></a>
      </div>
    </div>    
  </div>
</div>
