<!-- Sidenav -->
<!-- <app-sidebar></app-sidebar>
<div class="main-content bg-white" style="height: 100%;"> -->
  <!-- Top navbar -->
  <!-- <app-navbar></app-navbar> -->
  <!-- Pages -->
  <!-- <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>  -->



<!-- <app-sidebar></app-sidebar> -->
<app-navbar></app-navbar>
<div class="bg-white">
  <div class="row" style="margin-right: 0px;">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row" style="margin-right: 0px;">
    <div class="container-fluid">
      <app-footer></app-footer>
    </div>    
  </div>   
</div>
<!-- <div class="container-fluid"> -->
  <!-- Divider -->
  <!-- <hr class="my-0"> -->
  <!-- <app-footer></app-footer>
</div> -->


<!-- Sidenav -->


  <!-- <div class="row" style="width: 100%;">
    <div class="col-md-12">
      <app-navbar></app-navbar>
    </div>    
  </div>  
  <div class="row">
    <div class="col-md-12">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-12" style="padding: 0px;">
      <div class="main-content bg-white">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>  
  <div class="row">    
      <div class="container-fluid" style="padding: 0px;">
        <app-footer></app-footer>
      </div>    
  </div> -->

