<div class="main-content">
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark" style="background-color: white; padding-top: 0px; padding-bottom: 0px; height: 56px;">    
    <div class="px-0" style="margin-left: 100px; margin-right: 100px;width: 100%;">      
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/login']">
          <img src="assets/img/brand/LOGO.png" />
        </a>        
        <!-- Navbar items -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="vertical-align: middle; padding-top: 5%;">            
            <p>proiect dezvoltat de</p>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.fdpsr.ro/centrul-comunitar-cluj/">              
              <img src="assets/img/brand/Logo-FDP 1.png" style="height: 40px;" />
            </a>
          </li>
          <li class="nav-item" style="vertical-align: middle; padding-top: 5%; margin-right: 0px;">            
            <p>finantat de</p>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" style="padding-top: 7px; padding-bottom: 0px; padding-left: 0px !important;" href="">
              <img src="assets/img/brand/VDF.png" style="height: 50px;" />              
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<!-- class="py-3" -->
<footer style="background-color: white; position: fixed; bottom: 0; width: 100%; padding-top: 5px; padding-bottom: 5px;">
  <!-- <div class="container"> -->
    <div>
    <div class="row align-items-center justify-content-xl-between" style="margin-right: 100px;">
      <div class="col-xl-6">        
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
          </li>
          <li class="nav-item">            
          </li>
          <li class="nav-item" style="vertical-align: middle; padding-top: 0.5%;">            
            <p>proiect incubat in programul</p>
          </li>
          <li class="nav-item">
            <a href=""><img src="assets/img/brand/Civiclabs logo png.png" /></a>            
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
