<div class="header pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid" style="margin-top: -7.5rem !important;"> <!-- mt--7 -->
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="padding-bottom: 0px;padding-top: 0px;">          
          <div class="row">
            <div class="col-md-9" style="padding-top: 20px;">
              <h3 class="mb-0" style="color: #3468EF;">Lista beneficiari</h3>
              <p style="color: #23278A">Cauta cu ajutorul campului de mai jos un beneficiar sau in tabelul tuturor beneficiarilor cu ajutorul filtrelor.</p>
            </div>
            <div class="col-md-3" align="right">
              <button type="button" class="btn btn-primary my-4" style="background-color: #3468EF;" [routerLink]="['/beneficiary-info']" (click)="addBeneficiary()">
                <img src="./assets/img/icons/common/add.png" style="padding-right: 5px;">Adauga beneficiar nou
              </button>
            </div>
          </div>
        </div>
        <!-- Divider -->
        <hr class="my-0">
        <div class="card-header border-0"> 
          <div class="row">
            <div class="col-md-auto">
              <p>Cauta: </p>
            </div>         
            <div class="col-md-3" style="padding-left: 0px; ">            
              <div class="form-group" style="margin-bottom: 0px; ">                
                <input type="text" class="form-control" (keydown.enter)="search($event.target.value)">
              </div>
            </div>
        </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="color: #3468EF;">Nr.</th>
                <th scope="col" style="color: #3468EF;">Nume</th>
                <th scope="col" style="color: #3468EF;">Localitate</th>
                <th scope="col" style="color: #3468EF;">Judet</th>
                <th scope="col" style="color: #3468EF;">Asistent</th>
                <th scope="col" style="color: #3468EF;">Varsta</th>
                <th scope="col" style="color: #3468EF;">Data inregistrarii</th>
                <th scope="col"></th>
                <th scope="col" *ngIf="currentUser.role === 1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let beneficiary of beneficiariesList">
                <td>
                  {{ (page - 1) * pageSize + beneficiariesList.indexOf(beneficiary) + 1 }} 
                </td>
                <td>
                  {{ beneficiary.name }}
                </td>
                <td>
                  {{ beneficiary.city }}
                </td>
                <td>                  
                  {{ beneficiary.county }}
                </td>
                <td>
                  {{ beneficiary.assistantName }}
                </td>
                <td>                  
                  {{ beneficiary.age }}
                </td>
                <td>
                  {{ beneficiary.registrationDate }}
                </td>
                <td class="text-right">                  
                  <a class="btn btn-sm btn-icon-only text-light" [routerLink]="['/beneficiary', beneficiary.beneficiaryId]" (click)="beneficiarySelected(beneficiary)">
                    <img src="./assets/img/icons/common/view.png">
                  </a>
                </td>
                <td class="text-left" *ngIf="currentUser.role === 1">                  
                  <a class="btn btn-sm btn-icon-only text-light" (click)="deleteBeneficiary(beneficiary)">                    
                    <img src="./assets/img/icons/common/delete.png">
                  </a>                  
                </td>
              </tr>              
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <div class="row align-items-center justify-content-xl-between">
              <div class="col-md-6">
                <div class="row">
                  <p>Arata </p>&nbsp;&nbsp;
                  <input type="number" class="form-control" style="width: 60px; padding-top: 5px; padding-bottom: 5px; height: 30px;" value="{{ pageSize }}" name="pageSize" [(ngModel)]="pageSize" (change)="pageChanged($event)" >  
                  &nbsp;&nbsp; <p>intrari </p>                  
                </div>                
              </div>
              <div class="col-md-6">                
                <app-pagination [page]="page" [pageSize]="pageSize" #pager
                  [totalItems]="totalCount" (pageChanged)="pageChanged($event)">
                </app-pagination>
              </div>
            </div>            
          </nav>
        </div>        
      </div>
    </div>
  </div>
</div>
