<div class="header pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid" style="margin-top: -7.5rem !important"> <!-- mt--7 -->
  <!-- Card -->
  <div class="row" style="padding-bottom: 3%;">
    <div class="col">
      <div class="card shadow" style="width: 60%;">
        <div class="card-header border-0" style="padding-bottom: 0px;">          
            <div class="col-md-6">
              <h3 class="mb-0" style="color: #01A4AE;">Schimbă parola</h3>              
            </div>
        </div>
        <!-- Divider -->
        <hr class="my-3">
        <div class="card-body"> 
          <form role="form" (ngSubmit)="changePwd()">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Parola nouă</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <input class="form-control" placeholder="Parolă" type="password" id="password" name="password" [(ngModel)]="password">                  
                </div>
              </div>            
            </div>            
            
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Confirmă parola</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <input class="form-control" placeholder="Confirmă Parola" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword">                  
                </div>
              </div>            
            </div>            
                      
            <div class="row">            
              <div class="col-md-12" align="right">
                <button type="submit" class="btn btn-primary my-4" style="background-color: #01A4AE;">Schimbă parola</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->
  <!-- <div class="row">
    <div class="col">
      <div class="card shadow" style="width: 60%;">
        <div class="card-header border-0" style="padding-bottom: 0px;">          
            <div class="col-md-6">
              <h3 class="mb-0" style="color: #01A4AE;">Setează poza de profil</h3>              
            </div>
        </div>
        
        <hr class="my-3">
        <div class="card-body"> 
          <form role="form" (ngSubmit)="userInfoAdded()">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Alege o poză</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="file" name="picture" id="picture" />                  
                </div>
              </div>            
            </div>            
                       
                      
            <div class="row">            
              <div class="col-md-12" align="right">
                <button type="submit" class="btn btn-primary my-4" style="background-color: #01A4AE;">Setează poza</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div> -->
</div>
