<!-- Page content -->
<div style="margin-left: 116px; margin-right: 116px; margin-top: 60px;">
  <!-- Table -->
  <div class="row" style="padding-bottom: 1%;">
    <div class="col" style="text-align: center;">      
      <h1 class="mb-0" style="color: #2E294E; font-weight: bold; font-size: 30px;">
        Management de caz pentru ONG-ul sau <br>instituția furnizor de servicii sociale</h1> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;padding-bottom: 3%;"> 
      <p style="color: #01A4AE; font-size: 20px; font-weight: 500;">
        Descarcă aplicația <b>Dosarul Digital</b> - versiunea online a dosarului clasic <br>ce poate fi utilizată de pe computer, tabletă sau telefon mobil.
      </p>
    </div>
  </div>
  <div class="row" style="padding-bottom: 1%;">
    <div class="col-md-4">
      <p style="color: #32325D; font-size: 22px;font-weight: 600;">1. Ce este Dosarul Digital?</p>
    </div>
    <div class="col-md-4">
      <ol start="2">
        <li style="color: #32325D; font-weight:600; font-size: 22px;">
          <p style="color: #32325D; font-size: 22px;font-weight: 600;">Ce îți oferă Dosarul Digital?</p>
        </li>
      </ol>
    </div>
    <div class="col-md-4">
      <p style="color: #32325D; font-size: 22px;font-weight: 600;">3.	Cum pot accesa Dosarul Digital?</p>
    </div>
  </div>
  <div class="row" style="padding-bottom: 1%;">
    <div class="col-md-4" style="padding-right: 5%;">
      <p style="color: #32325D; font-size: 16px;">Dosarul Digital este o platformă web și aplicație mobilă gratuite care oferă suport profesioniștilor din sectorul serviciilor și asistenței sociale pentru a completa dosarul beneficiarului. Soluția transformă procesele și instrumentele de lucru fizice în alternativă digitalizată. Aplicația este lansată de Fundația Dezvoltarea Popoarelor Filiala Cluj cu sprijinul Code for Romania în cadrul programului Civic Lab finanțat de Fundația Vodafone România prin programul strategic Connecting for Good.</p>
    </div>
    <div class="col-md-4" style="padding-right: 5%;">
      <ul>
        <li>
          <p style="color: #32325D; font-size: 16px;">
            Un instrument digital complet, soluția, atât web cât și aplicația mobilă, te ajută să îți completezi documentele standardizate și îți oferă posibilitatea de a introduce noi instrumente de lucru specifice activității fiecărei ONG sau instituție.
          </p> 
        </li>
        <li>
          <p style="color: #32325D; font-size: 16px;">
            Poți  încărca documentele beneficiarului, le poți arhiva în dosarul acestuia și poți urmări evoluția cazului în timp real. 
          </p>
        </li>
        <li>
          <p style="color: #32325D; font-size: 16px;">Salvezi timp prin completarea rapidă a formularelor necesare.</p>
        </li>
        <li>
          <p style="color: #32325D; font-size: 16px;">Formularele pot fi completate și în absența accesului la internet, informația se salvează automat și poți reveni asupra acesteia când conexiunea îți permite.</p>
        </li>
        <li>
          <p style="color: #32325D; font-size: 16px;">Dosarele beneficiarilor tăi sunt de acum la un click distanță, ușor de utilizat și în siguranță.</p>
        </li>
      </ul>      
    </div>
    <div class="col-md-4" style="padding-right: 2%;">
      <p style="color: #32325D; font-size: 16px;">Dosarul Digital este disponibil în versiunea web, cât și în <a href="https://play.google.com/store/apps/details?id=ro.code4.casefile">Google Playstore</a> și în App Store putând fi instalată atât pe terminalele cu sistem de operare Android, cât și pe cele cu iOS (curând).</p>
    </div>
  </div>
  <div class="row" style="padding-bottom: 3%; padding-top: 2%;">
    <div class="col-md-4" style="padding-right: 2%;">      
      <table style="max-width: 450px;">
        <tr>
          <td style="padding-right: 5px;">
            <img src="assets/img/icons/common/IMG-20210303-WA0026.jpg" style="width: 100%; object-fit: contain"/>
          </td>
          <td style="padding-left: 5px;">
            <img src="assets/img/icons/common/IMG-20210303-WA0028.jpg" style="width: 100%; object-fit: contain" />
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <div class="row" style="padding-bottom: 2%;">
        <div class="col" style="width: 100%;">
          <img src="assets/img/icons/common/forms_page.png" style="width: 100%; object-fit: contain"/>
        </div>
      </div>
      <div class="row">
        <div class="col" style="width: 100%;">
          <img src="assets/img/icons/common/statistics_page.png" style="width: 100%; object-fit: contain"/>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row" style="padding-bottom: 2%;">
        <div class="col" style="width: 100%;">
          <img src="assets/img/icons/common/account_request.png"  style="width: 100%; object-fit: contain; max-height: 175px;"/>
        </div>
      </div>
      <div class="row">
        <div class="col" style="width: 100%;">
          <img src="assets/img/icons/common/google_play.png"  style="width: 100%; object-fit: contain; max-height: 198px;"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 3%;">
    <div class="col" style="text-align: center;">
      <p style="font-size: 24px;font-weight: 600;color: #01A4AE;">Un instrument digital complet</p>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col-md-8" style="margin:0px auto;">
      <div id="videoEmbed" style="width: 100%; height: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;text-align: center;">
        <iframe src="/assets/img/icons/common/TeaserDosarulDigital.mp4" width="100%" height="100%" style="position: absolute; top: 0; left: 0;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen ></iframe>
      </div>
    </div>
  </div>
<!-- </div> -->

<div class="row" style="padding-top: 3%;align-items: center;">
<div style="margin:0px auto;" class="col-md-7">
     <!-- Slideshow container -->
  <div class="slideshow-container" style="background-color: #f7fafc">

    <!-- Full-width slides/quotes -->
    <div class="mySlides">
      <q>Instrumentele digitale pot îmbunătăți fundamental calitatea și eficiența muncii de zi cu zi, a proceselor micro-manageriale și implicit a serviciilor oferite către beneficiarii proiectelor sociale.</q>
      <p class="author">- Anca Mercea, Asociația pentru Protejarea și Ajutorarea Handicapaților Neuro-Psihici Cluj (APAHNP Cluj)</p>
    </div>

    <!-- Next/prev buttons -->
    <a class="prev" (click)="plusSlides(-1)" style="pointer-events: none; cursor: default; color: #bbb;">&#10094;</a>
    <a class="next" (click)="plusSlides(1)" style="pointer-events: none; cursor: default; color: #bbb;">&#10095;</a>
  </div>

  <!-- Dots/bullets/indicators -->
  <div class="dot-container" style="background-color: rgba(1, 164, 174, 0.2);">
    <span class="dot" (click)="currentSlide(1)" style="pointer-events: none; cursor: default;"></span>
    <span class="dot" (click)="currentSlide(2)" style="pointer-events: none; cursor: default;"></span>
    <span class="dot" (click)="currentSlide(3)" style="pointer-events: none; cursor: default;"></span>
  </div>
</div>
</div>

<div style="padding-top: 3%;">
  <div class="row justify-content-center" id="accountRequest">
    <div class="col-lg-7">
      <div class="card bg-secondary border-0">        
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <img src="assets/img/icons/common/bx_bx-message-detail.png" />
          </div>
          <div class="text-center text-muted mb-4">
            <p style="font-weight: 300; font-size: 22px;">Solicită un cont pentru organizația ta cu ajutorul formularului de mai jos. </p>
          </div>          
          <form role="form" (ngSubmit)="sendNgoRequest()" style="font-size: 14px;">
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-6">                
                  Nume și prenume
              </div>
              <div class="col-md-6">
                  Organizație
              </div>  
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control" placeholder="Nume" type="text" id="name" name="name" [(ngModel)]="name">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-tag"></i></span>
                    </div>
                    <input class="form-control" placeholder="Organizație" type="text" id="ngo" name="ngo" [(ngModel)]="ngo">
                  </div>
                </div>
              </div>  
            </div>
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-6">                
                  Adresă de email
              </div>
              <div class="col-md-6">
                  Telefon
              </div> 
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" id="email" name="email" [(ngModel)]="email">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                    </div>
                    <input class="form-control" placeholder="Telefon mobil" type="text" id="phone" name="phone" [(ngModel)]="phone">
                  </div>
                </div>
              </div>  
            </div>            
            <div class="row" style="padding-bottom: 5px;">
              <div class="col-md-12">
                  Mesajul tău
              </div>
            </div>
            <textarea class="form-control" id="message" name="message" rows="5" [(ngModel)]="message"></textarea>            
            <div class="text-right">
              <button type="submit" class="btn btn-primary my-4">Trimite</button>
            </div>
          </form>
        </div>
      </div>      
    </div>
  </div>
</div>

