<div class="header pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid" style="margin-top: -7.5rem !important;"> <!-- mt--7 -->
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="padding-bottom: 0px;padding-top: 0px;">
          <div class="row">
            <!-- class="col-md-9" -->
            <div class="col" style="padding-top: 20px; padding-right: 0px; max-width: 80%; flex: 0 0 80%;">
              <h3 class="mb-0" style="color: #01A4AE;">Formulare predefinite</h3>
              <p style="color: #23278A">Aceasta este lista cu formulare disponibile pentru a fi completate. Selectează orice formular și completează-l pentru unul dintre beneficiarii pentru care este alocat.</p>
            </div>
            <div class="col" align="right" style=" max-width: 20%; flex: 0 0 20%;">
              <button type="button" class="btn btn-primary my-4" style="background-color: #01A4AE;" [routerLink]="['/form-create']" (click)="addForm()">
                <img src="./assets/img/icons/common/add_form.png" style="padding-right: 5px;">Adaugă formular nou
              </button>
            </div>
          </div>
        </div>
        <!-- Divider -->
        <hr class="my-0">
        <div class="card-header border-0"> 
          <div class="row">
            <div class="col-md-auto">
              <p>Caută: </p>
            </div>         
            <div class="col-md-3" style="padding-left: 0px; ">            
              <div class="form-group" style="margin-bottom: 0px; ">                
                <input type="text" class="form-control" (keydown.enter)="search($event.target.value)">
              </div>
            </div>
        </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="color: #01A4AE;">Nr.</th>
                <th scope="col" style="color: #01A4AE;">Denumire formular</th>
                <th scope="col" style="color: #01A4AE;">Creat de</th>
                <th scope="col" style="color: #01A4AE;">Dată</th> 
                <th scope="col" style="color: #01A4AE;">Nivel de acces</th>               
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of formsList">
                <td style="width: 5%;">
                  {{ (page - 1) * pageSize + formsList.indexOf(form) + 1 }}
                </td>
                <td style="word-wrap: break-word; white-space: normal;">
                  {{ form.description }}
                </td>
                <td style="width: 15%;">
                  {{ form.userName }}
                </td> 
                <td style="width: 10%;">
                  {{ form.date }}
                </td> 
                <td style="width: 10%;">
                  <label *ngIf="form.type===0">Privat</label>
                  <label *ngIf="form.type===1">Public</label>
                </td>               
                <td class="text-right" style="width: 5%;">
                  <a class="btn btn-sm btn-icon-only text-light" (click)="viewForm(form)"  [routerLink]="['/form', form.id, true]">
                    <img src="./assets/img/icons/common/view.png">
                  </a>
                  <a *ngIf="form.canBeModified" class="btn btn-sm btn-icon-only text-light">
                    <img src="./assets/img/icons/common/edit.png">
                  </a>
                  <a *ngIf="form.canBeModified" class="btn btn-sm btn-icon-only text-light" (click)="deleteForm(form)">
                    <img src="./assets/img/icons/common/delete.png">
                  </a>
                </td>
              </tr>              
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <div class="row align-items-center justify-content-xl-between">
              <div class="col-md-6">
                <div class="row">
                  <p>Arată </p>&nbsp;&nbsp;
                  <input type="number" class="form-control" style="width: 60px; padding-top: 5px; padding-bottom: 5px; height: 30px;" value="{{ pageSize }}" name="pageSize" [(ngModel)]="pageSize" (change)="pageChanged($event)">  
                  &nbsp;&nbsp; <p>intrări </p>                  
                </div>                
              </div>
              <div class="col-md-6">
                <app-pagination [page]="page" [pageSize]="pageSize"
                  [totalItems]="totalCount" (pageChanged)="pageChanged($event)">
                </app-pagination>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
