<div class="header pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid" style="margin-top: -7.5rem !important;"> <!-- mt--7 -->
  <form role="form" (ngSubmit)="saveForm()">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="padding-bottom: 0px;">          
            <div class="col-md-6">
              <h3 class="mb-0" style="color: #3468EF;">Formular</h3>              
            </div>
        </div>
        <!-- Divider -->
        <hr class="my-3">
        <div class="card-body" style="padding-top: 2%; padding-bottom: 0px;"> 
          <ng-template #section>
          </ng-template>            
           
          <div class="row">            
            <div class="col-md-12" align="right">
              <button type="button" class="btn btn-primary my-4" style="background-color: #3468EF;" (click)="addFormSection()">Adauga o sectiune de formular</button>
            </div>
          </div> 
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="padding-bottom: 0px;">
          <div class="row">          
            <div class="col-md-9">
              <h3 class="mb-0" style="color: #3468EF;">Date formular</h3>
              <p style="color: #23278A">Aceastea sunt informatiile de baza despre acest formular.</p>              
            </div>
            <div class="col-md-3" align="right">
              <img src="./assets/img/icons/common/edit.png" style="padding-right: 5px;" [routerLink]="">
            </div>
          </div>
        </div>
        <!-- Divider -->
        <hr class="my-3">
        <div class="card-body"> 
          
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Titlu formular</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label><b>{{ form.description }}</b></label>
                </div>
              </div>            
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Nivel de acces</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label *ngIf="form.type===0"><b>public</b></label>
                  <label *ngIf="form.type===1"><b>privat</b></label>
                </div>
              </div>            
            </div>            
            <div class="row">            
              <div class="col-md-12" align="right">
                <button type="submit" id="saveBtn" class="btn btn-primary my-4" style="background-color: #3468EF;">Salveaza draft</button>
                <button type="submit" id="publishBtn" class="btn btn-primary my-4" style="background-color: #3468EF;">Publica formular</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
