<!-- Page content -->
<div style="margin-left: 116px; margin-right: 116px; margin-top: 116px;">
  <!-- Table -->
  <div class="row" style="padding-bottom: 4%;">
    <div class="col">      
      <h1 class="mb-0" style="color: #2E294E; font-weight: bold; font-size: 35px;">Termeni și condiții de utilizare ai platformei</h1> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">1. Acceptarea condițiilor</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        "Termenii și Condițiile generale de utilizare" stabilesc termenii și condițiile generale de utilizare a website <a href="https://dosaruldigital.ro">www.dosaruldigital.ro</a> de către potențialii vizitatori sau beneficiari. <a href="https://dosaruldigital.ro">www.dosaruldigital.ro</a> (în continuare denumit „website”, „Platformă”) este o platformă online dezvoltată de Fundația Dezvoltarea Popoarelor Filiala Cluj (denumită în continuare “FDP CLUJ”) care te va ajuta să ai un management eficient al cazurilor pentru fiecare dintre beneficiarii tăi. Soluția este pusă gratuit la dispoziția organizațiilor neguvernamentale și instituțiilor publice acreditate ca furnizori de servicii sociale.     
      </p>
      <p style="color: #525F7F; font-size: 20px;">      
        Fundaţia Dezvoltarea Popoarelor Filiala Cluj, cu sediul în Cluj-Napoca, B-dul Eroilor, nr. 48, ap.7, CUI 22334966, telefon 0264-433.940, email asociatia@faptedepoveste.ro, înregistrată sub numărul 6/2007 în Registrul asociațiilor și fundațiilor.
      </p>
      <p style="color: #525F7F; font-size: 20px;">      
        Utilizarea PLATFORMEI presupune acceptarea în totalitate a termenilor şi condiţiilor enumerate mai jos.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">2. Obiectivul Website</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        Obiectivul Platformei: Dosarul Digital este o platformă web și aplicație mobilă gratuite care oferă suport profesioniștilor din sectorul serviciilor și asistenței sociale pentru a completa dosarul beneficiarului.
      </p>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">3. Condiţii de acces</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        Accesul utilizatorilor la serviciile şi informaţiile din cadrul PLATFORMEI este protejat prin “nume utilizator” şi “parolă” și ”two factor autentification” veți primi prins sms un cod din 4 cifre necesar logării. După prima logare va fi necesară resetarea parolei primite inițial. Vă recomandăm să nu dezvăluiţi nimănui datele de acces și/sau să vă logați cu cele ale colegilor. PLATFORMA nu va cere niciodată datele dumneavoastră de acces în mesaje nesolicitate. Nu dezvăluiţi aceste date unor terți care vă cer acest lucru. Mai mult, aveţi obligaţia de a verifica periodic dacă datele de acces nu au fost alterate şi de a raporta în cel mai scurt timp orice disfuncţionalitate către personalul de administrare a PLATFORMEI.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Pentru a putea utiliza aceste servicii, trebuie să: (a) comunicaţi informaţii personale reale, exacte, actuale şi complete aşa cum sunt cerute în formularele de înregistrare şi (b) să le actualizaţi de câte ori este nevoie, pentru a menţine aceste informaţii reale, exacte, actuale şi complete.      
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Dacă veţi furniza informaţii nereale, inexacte, neactuale sau incomplete, ori există suspiciunea că informaţiile sunt nereale, inexacte, neactuale sau incomplete, administratorul PLATFORMEI are dreptul de a suspenda temporar sau definitiv contul dumneavoastră de utilizator.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        „Numele de utilizator” şi „parola” pentru noii utilizatori vor fi generate automat de administratorul platformei, pe baza datelor personale furnizate cu ocazia înscrierii. Aceste date vor fi comunicate în parte fiecărui utilizator prin e-mail.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Utilizatorii pot solicita asistenţă privind „numele de utilizator” la adresa de e-mail dosaruldigital@faptedepoveste.ro Utilizatorii au obligația de a semna mesajele cu numele complet, profesia, locul de munca.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Administratorul va răspunde solicitărilor adresate prin email în maximum 48 ore de la primirea acestora. Administratorul are dreptul de a arhiva orice corespondență cu utilizatorii platformei, realizată prin intermediul e-mail sau al telefonului, iar dumnevoastră vi se aduce la cunoștință prin prezentul acord.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Vă recomandăm ca la sfârşitul fiecărei sesiuni de utilizare a PLATFORMEI să închideţi contul utilizând butonul corespunzător. Vă sfătuim, de asemenea, să închideţi la sfârşitul sesiunii şi fereastra browser-ului în care aţi lucrat. Informațiile la care dumneavoastră aveți acces sunt confidențiale și nu pot face uzul unei documentări comune.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">4. Practici generale privind utilizarea şi stocarea</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        PLATFORMA poate stabili un set de practici generale şi limitări privind utilizarea serviciilor. Astfel, dimensiunea maximă a unui fişier ce poate fi încărcat pe server este de 10 MB. 
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">5. Conținut</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        Prin prezentul acord, acceptaţi ca toate informaţiile: date, text, software, fotografii, grafice, mesaje sau alte materiale (numite în continuare "CONŢINUT"), sunt încărcate de dumnevoastră și vizează aspecte legale din dosarul beneficiarului. Aceasta înseamnă că dumneavoastră, şi nu PLATFORMA, sunteţi în întregime responsabili pentru toate materialele pe care le încărcaţi şi le folosiți în cadrul instituțiilor/ organizațiilor Dvs.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Sunteţi de acord să nu folosiţi serviciile puse la dispoziţie de PLATFORMĂ pentru a:
      </p>
      <ul style="color: #525F7F; font-size: 20px;">
        <li>încărca, publica sau transmite orice conţinut care este ilegal, defăimător, ofensator, ameninţător, abuziv, vulgar, obscen, afectează intimitatea altei persoane, îndeamnă la ură rasială, etnică sau este în alt mod ofensator; intimida, ofensa sau răni minorii, în orice mod sau sub orice formă;</li>
        <li>pretinde că sunteţi o alta persoană sau instituţie, inclusiv, dar nu limitat la, reprezentant al PLATFORMEI, lider sau mediator al unei discuţii sau să afirmaţi în mod fals sau să indicaţi în alt fel afilierea cu o anumită persoană sau instituţie;</li>
        <li>falsifica datele de identificare sau să le manipulaţi în alt mod, cu scopul de a deghiza sau ascunde originea oricărui conţinut transmis prin intermediul PLATFORMEI sau să dezvolte pagini ori imagini ascunse (precum cele care nu au niciun link activ de pe o pagină a utilizatorului respectiv);</li>
        <li>încărca, posta, difuza sau transmite orice conţinut pentru care nu aveţi dreptul legal de transmitere sau difuzare în orice condiţii, sub orice sistem juridic, românesc sau străin, relaţii contractuale sau de încredere (cum sunt informaţiile confidenţiale, cele aflate sub drept de proprietate, aflate sau dezvăluite ca parte a relaţiilor de serviciu sau aflate sub incidenţa acordurilor de confidenţialitate);</li>
        <li>încărca, posta, difuza sau transmite orice tip de conţinut care încalcă orice patent sau marcă protejată, secret comercial, drept de autor sau alte drepturi de proprietate ale oricărui terţ;</li>
        <li>încărca, posta, difuza sau transmite orice tip de publicitate, materiale promoţionale, oferte comerciale, informaţii cu caracter politic, "junk mail", "spam", scrisori în lanţ, scheme piramidale sau orice altă formă de solicitări, cu excepţia porţiunilor din serviciu care sunt formate cu acest scop;</li>
        <li>încărca, posta, difuza sau transmite orice material care conţine viruşi sau orice alt tip de cod, fişiere sau programe care sunt create să distrugă, întrerupă sau să limiteze funcţionarea oricărui alt software, componente hardware sau echipament de telecomunicaţii;</li>
        <li>interveni în sau întrerupe serviciile / serverele / reţelele conectate la PLATFORMA sau să încalce orice cerinţe, proceduri, politici sau regulamente;</li>
        <li>încălca în mod intenţionat sau nu, orice lege locală, naţională sau internaţională, inclusiv, dar nu limitat la, orice regulament care are valoare de lege;</li>
        <li>promova sau furniza informaţii despre modul de derulare a activităţilor ilegale, promova rănirea fizică sau verbală împotriva oricărui grup sau persoană, sau pentru a promova orice act de cruzime faţă de animale. Aceasta poate include dar nu este limitat la a furniza informaţii despre modul de a fabrica, achiziţiona sau asambla bombe, grenade sau alte tipuri de arme și crearea de website-uri "crush";</li>
        <li>folosi pagina personală sau directorul propriu ca loc de depozit pentru a încărca pagina plecând de la alt link decât cel existent în cadrul PLATFORMEI, sau ca modalitate de intrare pe alt website personal.</li>
      </ul> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">6. Drepturi de proprietate intelectuală</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        FDP Cluj deține în totalitate drepturile de proprietate ale produsului digital ”Dosarul Digital” în România.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">7. Legături către alte pagini de internet</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        PLATFORMA poate conţine legături către pagini de internet ale unor terţe părţi. Posibilitatea de a crea aceste legături este dată utilizatorului ca un avantaj; PLATFORMA nu deţine niciun control asupra website-uri de acest fel.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        PLATFORMA nu este responsabilă pentru disponibilitatea acestor website-uri externe, nu sprijină şi nu este responsabilă pentru conţinutul lor (reclamă, produsele sau alte materiale de pe sau disponibile pe astfel de website-uri).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">8. Modificări Termeni și Condiții generale de utilizare A PLATFORMEI</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        "Termenii și Conditiile generale de utilizare" constituie, în întregime, un acord încheiat între dumneavoastră și FDP CLUJ în privința utilizării acestei platforme.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Termenii şi condiţiile pot fi schimbate în orice moment de către administratorul PLATFORMEI, fără notificarea prealabilă a persoanelor care îl utilizează, denumite în continuare "Utilizatori". Utilizatorii vor avea acces permanent la termenii şi condiţiile pentru utilizarea serviciilor pentru a le putea consulta în orice moment. În cazul în care nu sunt de acord cu condiţiile impuse, Utilizatorii pot alege să nu își facă cont de useri pe această platfomă.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">9. Încetarea colaborării</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        Sunteţi de acord ca PLATFORMA, dacă consideră de cuviinţă, să vă poată bloca accesul, utilizarea serviciilor sau folosirea oricăror altor servicii de care beneficiaţi sau să scoată şi să şteargă orice conţinut din cadrul serviciilor, pentru orice motiv, inclusiv dar nu limitat la, lipsa de folosire sau dacă PLATFORMA consideră că aţi încălcat sau nu aţi acţionat conform cu litera sau spiritul prezentului acord.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Sunteţi de acord ca orice încetare a accesului dumneavoastră la serviciile oferite, conform oricărei reguli din prezentul acord, să poată fi efectuată fără o avertizare anticipată, şi luaţi la cunoştinţă şi sunteţi de acord că PLATFORMA poate dezactiva sau şterge imediat fişierele şi toate informaţiile în legătură cu acesta din contul personal şi/sau să interzică orice acces ulterior la astfel de fişiere. Mai mult, sunteţi de acord că PLATFORMA nu va fi răspunzătoare faţă de dumneavoastră sau orice terţă parte în orice mod pentru interzicerea şi/sau ştergerea contului şi a accesului la serviciile puse la dispoziţie prin intermediul PLATFORMEI.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">10. Limitarea răspunderii</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        Prin prezentul acord, PLATFORMA nu îşi asumă nicio răspundere în cazul în care anumite informaţii sunt furnizate cu întârziere, sunt pierdute, şterse, nu pot fi stocate sau nu pot fi accesate pe serverele noastre, din orice motiv. PLATFORMA nu îşi asumă nicio răspundere pentru consecinţele care pot apărea din cauza întârzierii, pierderii sau inexactităţii informaţiilor publicate sau existente pe PLATFORMĂ.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Utilizatorii vor folosi informaţiile furnizate în cadrul PLATFORMEI pe propria răspundere, iar în cazul unei daune generate de utilizarea serviciilor sau informaţiilor furnizate, utilizatorii acceptă că PLATFORMA va fi absolvită de orice răspundere.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Toate drepturile sunt rezervate.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Este strict interzisă folosirea acestui website în scopul distrugerii sau alterării lui, a conținutului sau a securității acestuia ori pentru discreditarea sau hărțuirea utilizatorilor platformei sau a FDP Cluj.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        FDP Cluj va aplica toate măsurile de securitate tehnică și organizatorică pentru protejarea datelor asupra cărora deține controlul împotriva oricarei situații de manipulare accidentală sau intenționată, pierdere, distrugere sau împotriva accesului unei persoane neautorizate.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="color: #32325D; font-size: 35px;font-weight: 600;">11. Despăgubiri</p>
    </div>
  </div>
  <div class="row" style="padding-bottom: 4%;">
    <div class="col-md-12"> 
      <p style="color: #525F7F; font-size: 20px;">
        Sunteţi de acord să despăgubiţi şi să protejaţi PLATFORMA de orice pretenţii sau cereri, inclusiv cheltuieli de judecată sau onorarii pentru avocaţi, făcute de o terţă persoană sau organizaţie cauzată sau reieşind din conţinutul materialului personal sau cauzată de utilizarea folosirii serviciilor PLATFORMEI, încălcării prezentului acord sau încălcării oricăror drepturi ale acelui terţ.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Dacă aveți întrebări cu privire la informațiile cuprinse în această pagină vă rugăm să ne scrieți la adresa dosaruldigital@faptedepoveste.ro
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Vă rugăm să sesizați orice încălcare a acestor condiții de utilizare administratorului PLATFORMEI la adresa de e-mail. 
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Prin completarea formularului de înscriere și crearea contului dumneavoastră, sunteți de acord cu Termenii și condițiile generale, acesta reprezentand acceptul și acordul dumneavoastră. Prin crearea contului dvs. de afiliat sunteți de acord cu Termenii și condițiile generale, că aderați la Politica de prelucrare a datelor cu caracter personal a FDP Cluj, acesta reprezentând acceptul și acordul dumneavoastră.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Neconsultarea Termenilor și condițiilor și politica de prelucrare a datelor cu caracter personal prezente nu poate fi invocata sub nicio formă și în nicio ocazie.
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Pentru orice informație legată de datele dumneavoastră cu caracter personal vă puteți adresa organizației la adresa de e-mail dosaruldigital@faptedepoveste.ro
      </p>
      <p style="color: #525F7F; font-size: 20px;">
        Dacă nu sunteți de acord cu termenii și condițiile precizate în cadrul acestui acord de termeni și condiții, avem rugămintea să nu utilizați produsele și serviciile noastre.
      </p>
    </div>
  </div>
</div>
