<div class="header pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid" style="margin-top: -7.5rem !important"> <!-- mt--7 -->
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow" style="width: 60%;">
        <div class="card-header border-0" style="padding-bottom: 0px;">          
            <div class="col-md-6">
              <h3 class="mb-0" style="color: #01A4AE;">{{ title }}</h3>              
            </div>
        </div>
        <!-- Divider -->
        <hr class="my-3">
        <div class="card-body"> 
          <form role="form" (ngSubmit)="userInfoAdded()">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Nume și prenume*</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="ex: Ioana Petrescu" id="name" name="name" [(ngModel)]="user.name">                  
                </div>
              </div>            
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Data nașterii*</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>                  
                    <input class="form-control datepicker" placeholder="Alege o dată" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text"
                    name="dp" [(ngModel)]="dateModel" (dateSelect) = "onDateSelect($event)" [minDate]="{year: 1921, month: 1, day: 1}" />                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Specializare / profesie</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <select class="form-control" multiple name="selectedTypes" [(ngModel)]="user.types">
                    <option value="-1" selected="selected">Selectează una sau mai multe specializări</option>
                    <option value="0">Asistent comunitar/ă</option>
                    <option value="1">Asistent social</option>
                    <option value="2">Mediator sanitar</option>
                    <option value="3">Medic pediatru</option>
                    <option value="4">Medic ginecolog</option>
                    <option value="5">Psiholog</option>
                    <option value="6">Logoped</option>
                    <option value="7">Altă specializare</option>
                  </select>
                </div>
              </div>            
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Email*</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="ex: ioanapetrescu@fdp.ro" id="email" name="email" [(ngModel)]="user.email">                  
                </div>
              </div>            
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Telefon*</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="ex: 0722222222" id="phone" name="phone" [(ngModel)]="user.phone">                  
                </div>
              </div>            
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <p>Rol*</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <select class="form-control" name="selectedGender" [(ngModel)]="user.role">
                    <option value="-1" selected="selected">ex: Administrator</option>
                    <option value="0">Asistent</option>
                    <option value="1">Administrator</option>                 
                  </select>
                </div>
              </div>            
            </div>            
            <div class="row">            
              <div class="col-md-12" align="right">
                <button type="submit" class="btn btn-primary my-4" style="background-color: #01A4AE;">Continuă</button>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
